---
import '../../styles/global.css';
import fetchApi from '../../lib/strapi';
import { Image } from 'astro:assets';

const articles = await fetchApi({
endpoint: 'blogs',
wrappedByKey: 'data',
query: {
'pagination[start]': '0',
'pagination[limit]': '4',
'populate[0]': 'cover',
'populate[1]': 'author',
'populate[2]': 'author.avatar',
},
});

const optionsDate = {
year: "numeric",
month: "long",
day: "numeric"
};

const locale = 'fr-FR';
---

<section id="blog">
  <div class="container">
    <h2 class="section-title">Les derniers articles de blog</h2>
    <div class="card-grid">
      {articles.map(article => 
      <div class="card">
        <Image src={article.cover.url} height={200} width={300} alt="" class="card-cover" />
        <div class="card-info-wrapper">
          <h3 class="card-title">{article.title}</h3>
          <div class="card-content">
            <div class="card-author-wrapper">
              <Image src={article.author.avatar.formats.thumbnail.url} width={50} height={50} alt="" class="card-avatar"/>
              <div class="card-author-text-wrapper">
                <div class="card-author">{article.author.name}</div>
                <div class="card-date">{Intl.DateTimeFormat(locale, optionsDate).format(new Date(article.publishedAt))}</div>
              </div>
            </div>
            <a href={`/blog/${article.slug}`} class="card-cta"><span class="word">Lire </span><span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      )}
    </div>
    <a href="/blog" class="button cta">Voir plus d'articles</a>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
  }

  h2 span {
    font-style: italic;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-s);
  }

  .card-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--space-m);
  }

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #dadadd;
    box-shadow: 0px 0px 18px 0px hsl(0deg, 0%, 70%, 30%);
    height: 28rem;
    overflow: hidden;
  }

  .card-cover {
    width: 100%;
    height: 45%;
    object-fit: cover;
    background-color: var(--bg-color-light);
  }

  .card-title {
    margin-top: 0;
    font-size: var(--step-1);
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.15;
  }

  .card-info-wrapper {
    flex: 1;
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .card-author-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-date {
    color: #a4a4a4;
    font-size: var(--step--1);
  }

  .card-avatar {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 9999px;
  }

  .card-cta {
    width: 2rem;
    height: 2rem;
    background-color: var(--bg-color-light);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    position: relative;
    text-decoration: none;

    transition-property: width;
    transition-duration: 200ms;
  }

  .card-cta:hover {
    background-color: var(--text);
    width: 4.5rem;
    justify-content: space-evenly;
  }

  .card-cta .word {
    display: none;
  }

  .card-cta:hover .word {
    display: block;
  }

  @media (min-width: 1000px) {
    .card-grid {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--space-m);
    }
  }
</style>
