---
import '../../styles/global.css';
import { Image, Picture } from 'astro:assets';
const knowMore = "/bibliotheque";
const workbookDL = "https://tinyurl.com/TPLEA";
const autoAuditDL = "https://tinyurl.com/TPLEA";
import workbookImg from '../../assets/images/workbook.webp';
import autoAuditGif from '../../assets/images/auto_audit.gif';
---

<section id="tools">
  <div class="container">
    <h2 class="section-title">Tes outils <span>gratuits</span> pour booster ton activité</h2>
    <p class="header-text">Dans la bibliothèque, retrouve des ressources offertes, créées à partir de mon expérience terrain auprès de solopreneurs, entrepreneurs et PME que j'ai accompagnés.</p>
    <p class="header-text">Des outils simples, concrets et directement utilisables pour faire progresser ton business dès aujourd'hui.</p>
    <div class="cards">
      <div class="card">
        <h3>The Plannerist Workbook</h3>
        <Image src={workbookImg} alt="" width={350} height={350} />
        <div class="links">
          <a href={workbookDL} class="button cta">Télecharger le workbook <span><i class="fa-solid fa-file-arrow-down"></i></span></a>
          <a href={knowMore} class="card-link">En savoir plus</a>
        </div>
        <p>Un questionnaire stratégique pour passer ton activité B2C au crible. En 7 thématiques, tu analyses :</p>
        <ol>
          <li>ta proposition de valeur</li>
          <li>ta visibilité</li>
          <li>ton persona</li>
          <li>tes offres</li>
          <li>ta rentabilité</li>
          <li>tes process</li>
          <li>ta vision</li>
        </ol>
        <p>Résultat ? Un plan clair pour ajuster tes actions et accélérer ta croissance.</p>
      </div>
      <div class="card">
        <h3>The Plannerist Auto-Audit</h3>
        <img src={autoAuditGif.src} alt="" width={350} height={350} />
        <div class="links">
          <a href={autoAuditDL} class="button cta">Télecharger l'auto-audit<span><i class="fa-solid fa-file-arrow-down"></i></span></a>
          <a href={knowMore} class="card-link">En savoir plus</a>
        </div>
        <p>L'auto-audit est structuré en 6 pôles clés, chacun comprenant plusieurs questions précises pour analyser ta performance et organisation :</p>
        <ol>
          <li>Commercial, Marketing &amp; Communication : évaluation de ta stratégie commerciale, acquisition et visibilité</li>
          <li>Finance &amp; Comptabilité : analyse de ta gestion financière et de ta rentabilité.</li>
          <li>Parcours Client : étude de l'expérience client de la découverte à la fidélisation.</li>
          <li>Day to day : organisation quotidienne et gestion du temps.</li>
          <li>Opérations &amp; Logistique : efficacité des processus internes, gestion des stocks et logistique.</li>
        </ol>
        <p>Ce diagnostic complet te donne une vision claire de ta situation actuelle pour mieux piloter ta croissance.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 span {
    font-style: italic;
  }

  .header-text {
    margin-top: 0;
    max-width: 65ch;
    text-align: center;
    text-wrap: balance;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-m);
  }

  .card {
    flex: 1;
    background-color: white;
    padding: var(--space-m);
    border-radius: 12px;
    box-shadow: 0px 0px 18px 0px hsl(0deg, 0%, 70%, 30%);
    border: 1px solid #dadadd;
    max-width: 45ch;
    font-size: var(--step-0);
  }

  .card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .card h3 {
    margin-top: 0;
    position: relative;
    z-index: 0;
    width: fit-content;
  }

  .card h3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 20%;
    top: 75%;
    bottom: 0;
    z-index: -1;
    background-color: var(--primary-light);
  }

  .cta {
    padding-right: .75rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
  }

  .card-link {
    color: var(--text);
  }

  .card-link:hover {
    color: var(--bg-color-light);
  }

  @media (min-width: 1000px) {
    .cards {
      flex-direction: row;
    }

    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-s);
    }
  }
</style>
