---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi.ts';
import { Image } from 'astro:assets';
const pageSize = 15;

// Asking for on-demand server rendering for pagination through Strapi
export const prerender = false;

const articles = await fetchApi({
endpoint: 'blogs',
wrappedByKey: 'data',
query: {
'populate': 'cover',
'pagination[page]': 1,
'pagination[pageSize]': 50,
'sort': 'posted_at:desc',
}
});

// Fix URL path for local development
for (let article of articles) {
if (import.meta.env.NODE_ENV === 'development') {
  article.cover.url = import.meta.env.STRAPI_URL + article.cover.url;
}
}
---

<Layout>
  <section id="posts">
    <div class="container">
      <div class="title-header">Mieux piloter &amp; décider</div>
      <h1 class="page-title">Le carnet de bord stratégique de The Plannerist</h1>
      <!-- <div class="post-grid"> -->
      <!--   {articles.slice(0, 6).map(article => --> 
      <!--   <div class="article-card"> -->
      <!--     <Image src={article.cover.url} alt="" width={300} height={250} class="card-cover"/> -->
      <!--     <div class="card-content"> -->
      <!--       <h3>{article.title}</h3> -->
      <!--       <div class="article-date">{Intl.DateTimeFormat("fr-FR", { year: "numeric", month: "long", day: "numeric" }).format(article.posted_at ? new Date(article.posted_at) : new Date(2026,3,14))}</div> -->
      <!--       <a href={`/blog/${article.slug}`} class="card-cta">Voir l'article <span><i class="fa-solid fa-arrow-right"></i></span></a> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   )} -->
      <!-- </div> -->
      <h2 class="section-title">Tous les articles</h2>
      <div class="article-grid-2">
        {articles.map(article => 
        <div class="article-card">
          <Image src={article.cover.url} alt="" width={300} height={250} class="card-cover"/>
          <div class="card-content">
            <h3>{article.title}</h3>
            <div class="article-date">{Intl.DateTimeFormat("fr-FR", { year: "numeric", month: "long", day: "numeric" }).format(article.posted_at ? new Date(article.posted_at) : new Date(2026,3,14))}</div>
            <a href={`/blog/post/${article.slug}`} class="card-cta">Voir l'article <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
        )}
      </div>
      <!-- <nav class="pagination"> -->
      <!--   {page.url.first ? <a href={page.url.first}>1</a> : null} -->
      <!--   {page.url.prev && page.currentPage > 2 ? <a href={page.url.prev}>{page.currentPage - 1}</a> : null} -->
      <!--   {page.url.current ? <a href={page.url.current} class="currentPage">{page.currentPage}</a> : null} -->
      <!--   {page.url.next ? <a href={page.url.next}>{page.currentPage + 1}</a> : null} -->
      <!--   {page.url.last && page.url.last === page.url.next ? <a href={page.url.last}>{page.lastPage}</a> : null} -->
      <!-- </nav> -->
    </div>
  </section>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-grid {
    width: 100%;
    display: grid;
    gap: var(--space-l);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside3 aside3"
      "hero hero hero hero aside3 aside3"
      "aside4 aside4 aside5 aside5 aside6 aside6"
      "aside4 aside4 aside5 aside5 aside6 aside6";
    margin-bottom: var(--space-m);
  }

  .post-grid .article-card:nth-child(1) {
    grid-area: hero;
  }

  .post-grid .article-card:nth-child(2) {
    grid-area: aside2;
  }

  .post-grid .article-card:nth-child(3) {
    grid-area: aside3;
  }

  .post-grid .article-card:nth-child(4) {
    grid-area: aside4;
  }

  .post-grid .article-card:nth-child(5) {
    grid-area: aside5;
  }

  .post-grid .article-card:nth-child(6) {
    grid-area: aside6;
  }

  .article-card {
    width: 100%;
    height: 32rem;
    display: flex;
    flex-direction: column;
  }

  .article-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 1fr));
    gap: var(--space-l);
    margin-top: var(--space-m);
    width: 100%;
  }

  .article-card .card-cover {
    width: 100%;
    height: 20rem;
    max-height: 20rem;
    object-fit: cover;
  }

  .article-card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--space-s);
    padding-left: 0;
  }

  .article-card h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: var(--step-1);
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .article-date {
    font-size: var(--step-0);
    font-weight: 200;
    color: #808080;
  }

  a.card-cta {
    display: flex;
    gap: var(--space-2xs);
    align-items: flex-end;
    text-decoration: none;
    color: var(--text);
    border-bottom: 1px solid var(--text);
    width: fit-content;
    margin-top: auto;

    transition-property: gap, color, border-color;
  }

  a.card-cta span {
    font-size: var(--step--1);
  }

  a.card-cta:hover {
    color: var(--bg-color-light);
    gap: var(--space-xs);
    border-color: var(--bg-color-light);
  } 

  nav.pagination {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
  }

  nav.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    text-decoration: none;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 999px;
  }

  nav.pagination .currentPage {
    background-color: var(--primary-light);
  }
</style>
