---
import { StrapiBlocks } from '@sensinum/astro-strapi-blocks';
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const articles = await fetchApi({
    endpoint: 'blogs',
    wrappedByKey: 'data',
    query: {
      'populate': 'cover',
    }
  });

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }));
};


const article = Astro.props;
const optionsDate = {
year: "numeric",
month: "long",
day: "numeric"
};
const locale = 'fr-FR';
const FormattedDate = Intl.DateTimeFormat(locale, optionsDate).format(new Date(article.publishedAt));
---

<Layout>
  <!-- <div class="bg-blob blob-1"></div> -->
  <!-- <div class="bg-blob blob-2"></div> -->
  <!-- <div class="bg-blob blob-3"></div> -->
  <!-- <div class="bg-blob blob-4"></div> -->
  <!-- <div class="bg-blob blob-5"></div> -->
  <Image src=`${import.meta.env.STRAPI_URL}${article.cover.url}` width={1400} height={400} alt="" class="post-cover" />
  <section id="post">
  <div class="container">
    <article>
      <h1 class="page-title">{article.title}</h1>
      <div class="posting-date">Publié le {FormattedDate}</div>
      <StrapiBlocks
        data={article.content}
      />
    </article>
  </div>
  </section>
</Layout>

<style>
  :root {
    --blob-col-1: #F4E04D;
    --blob-col-2: #95BF74;
    --blob-col-3: #DDA77B;
    /* --blob-col-3: #669BBC; */
  }

  .bg-blob {
    position: absolute;
    --length: 600px;
    width: var(--length);
    height: var(--length);
    z-index: -1;
    filter: blur(500px);
  }

  .blob-1 {
    top: 0;
    right: 0;
    background-color: var(--blob-col-1);
  }

  .blob-2 {
    left: 0;
    top: 800px;
    background-color: var(--blob-col-2);
  }

  .blob-3 {
    top: 1400px;
    right: 0;
    background-color: var(--blob-col-3);
  }

  .blob-4 {
    top: 2400px;
    left: 0;
    background-color: var(--blob-col-1);
  }

  .blob-5 {
    top: 3800px;
    right: 0px;
    background-color: var(--bg-color-dark);
  }

  .post-cover {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
    top: -80px;
  }

  .posting-date {
    color: #808080;
    text-align: center;
  }

  article {
    max-width: 65ch;
    margin: 0 auto;
  }
</style>
