---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi.ts';
import { Image } from 'astro:assets';

// SSR
export const prerender = false;

const currentPageNumber = !Astro.url.searchParams.get("page") ? 1 : Number(Astro.url.searchParams.get("page"));
const pageSize = 12;

const data = await fetchApi({
endpoint: 'blogs',
query: {
'pagination[page]': currentPageNumber,
'pagination[pageSize]': pageSize,
'populate[0]': 'cover',
'populate[1]': 'categories',
'sort': 'posted_at:desc',
}
});

const articles = data.data;
const lastPage = data.meta.pagination.pageCount;

// Fix URL path for local development
for (let article of articles) {
if (import.meta.env.NODE_ENV === 'development') {
  article.CoverURL = import.meta.env.STRAPI_URL + article.cover.url;
}
}

const topArticles = articles.slice(0,6);
---

<Layout>
  <section id="posts">
    <div class="upper"></div>
    <div class="lower"></div>
    <div class="container">
      <div class="title-header">Mieux piloter &amp; décider</div>
      <h1 class="page-title">Le carnet de bord stratégique de The Plannerist</h1>
      <div class="post-grid">
        {topArticles.map(article => 
        <div class="article-card">
          <Image src={article.CoverURL ? article.CoverURL : article.cover.url} alt="" width={3000} height={3000} class="card-cover"/>
          <div class="card-content">
            <h3>{article.title}</h3>
            <div class=categories-wrapper>
              {!article.categories ? null : article.categories.map(category => 
              <div class="category">{category.name}</div>
              )}
            </div>
            <div class="article-date">{Intl.DateTimeFormat("fr-FR", { year: "numeric", month: "long", day: "numeric" }).format(article.posted_at ? new Date(article.posted_at) : new Date(2026,3,15))}</div>
            <a href={`/blog/${article.slug}`} class="card-cta">Voir l'article <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
        )}
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="section-title">Derniers articles</h2>
      <div class="article-grid-2">
        {articles.map(article => 
        <div class="article-card">
          <Image src={article.CoverURL ? article.CoverURL : article.cover.url} alt="" width={3000} height={3000} class="card-cover"/>
          <div class="card-content">
            <h3>{article.title}</h3>
            <div class="article-date">{Intl.DateTimeFormat("fr-FR", { year: "numeric", month: "long", day: "numeric" }).format(article.posted_at ? new Date(article.posted_at) : new Date(2026,3,15))}</div>
            <a href={`/blog/${article.slug}`} class="card-cta">Voir l'article <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
        )}
      </div>
      <nav class="pagination">
        <!-- First page link -->
        {currentPageNumber > 1 ? <a href="/blog" class="first-page">1</a> : null}
        <!-- Previous page link -->
        {currentPageNumber > 2 ? <a href=`/blog?page=${currentPageNumber - 1}` class="previous-page">{currentPageNumber - 1}</a> : null}
        <!-- Current page link -->
        <div class="current-page">{currentPageNumber}</div>
        <!-- Next page link -->
        {currentPageNumber < lastPage - 1 ? <a href=`/blog?page=${currentPageNumber + 1}` class="next-page">{currentPageNumber + 1}</a> : null}
        <!-- Last page link -->
        {currentPageNumber < lastPage ? <a href=`/blog?page=${lastPage}` class="last-page">{lastPage}</a> : null}
      </nav>
    </div>
  </section>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #posts {
    position: relative;

    .upper {
      background-color: #eaeaea;
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
      z-index: -1;
    }
  }

  .post-grid {
    width: 100%;
    display: grid;
    gap: var(--space-l);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside3 aside3"
      "hero hero hero hero aside3 aside3"
      "aside4 aside4 aside5 aside5 aside6 aside6"
      "aside4 aside4 aside5 aside5 aside6 aside6";
    margin-bottom: var(--space-m);
  }

  .post-grid .article-card:nth-child(1) {
    grid-area: hero;
  }

  .post-grid .article-card:nth-child(2) {
    grid-area: aside2;
  }

  .post-grid .article-card:nth-child(3) {
    grid-area: aside3;
  }

  .post-grid .article-card:nth-child(4) {
    grid-area: aside4;
  }

  .post-grid .article-card:nth-child(5) {
    grid-area: aside5;
  }

  .post-grid .article-card:nth-child(6) {
    grid-area: aside6;
  }

  .article-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    overflow: hidden;
    border-radius: 6px;
  }

  .article-grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--space-l);
    margin-top: var(--space-m);
    width: 100%;
  }

  .article-card .card-cover {
    width: 100%;
    flex: 1 1 50%;
    object-fit: cover;
    aspect-ratio: 3/2;
  }

  .article-card .card-content {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    padding: var(--space-s);
  }

  .article-card h3 {
    font-size: var(--step-1);
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .article-date {
    font-size: var(--step-0);
    font-weight: 200;
    color: #808080;
  }

  .category {
    font-size: var(--step--2);
    text-transform: uppercase;
    letter-spacing: .1px;
    border: 1px solid var(--text);
    display: inline-block;
    padding: .35rem;
  }

  a.card-cta {
    display: flex;
    gap: var(--space-2xs);
    align-items: flex-end;
    text-decoration: none;
    color: var(--text);
    border-bottom: 1px solid var(--text);
    margin-top: auto;
    width: fit-content;

    transition-property: gap, color, border-color;
  }

  a.card-cta span {
    font-size: var(--step--1);
  }

  a.card-cta:hover {
    color: var(--bg-color-light);
    gap: var(--space-xs);
    border-color: var(--bg-color-light);
  } 

  nav.pagination {
    margin-top: var(--space-xl);
    display: flex;
    justify-content: center;
    gap: var(--space-s);

    & > * {
      --length: 2.25rem;
      border-radius: 99px;
      width: var(--length);
      height: var(--length);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .current-page {
      background-color: var(--bg-color-light);
    }

    a {
      color: var(--text);
    }

    a:hover {
      color: var(--bg-color-light);
    }
  }
</style>
